body {
  background-color: rgb(103, 189, 110);
}

ul {
  list-style-type: none;
}

li {
  font-size: 40px;
  color: navy;
  border-bottom: 1px solid blue;
  padding: 10px 5px; 
}

li:hover {
    color: rgb(203, 142, 228)
}